<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="trelloApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="trelloApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="trelloApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="trelloApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trello Frontend Model</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assests/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="assests/css/style.css" />
</head>

<body>
    <header>
        <div id="header">
            <a class="header-logo" href="#">
                <span class="header-logo-default"></span>
            </a>
        </div>
    </header>
    <section class="content-container">
        <div class="content" ng-controller="dashboardCtrl">
            <div ng-if="listItems" ng-repeat="list in listItems" list-view class="list-wrapper"></div>
            <div class="addListButton" ng-show="showAddListBtn">
                <button ng-click="showListInput()" class="button btn-Add"><i class='material-icons'> add  </i> {{ btnName }}</button>
            </div>
            <div class="addListInput" ng-show="showAddListInput">
                <input class="listNameTxtBox" type="text" name="name" ng-model="listName" id="listName" placeholder="Enter list title..." autocomplete="off" maxlength="100" ng-keypress="addListByEnter($event)">
                <div class="listAddBtn">
                    <button class="btn-1" ng-click="addList()" type="button">Add List</button>
                    <button class="btn-2" ng-click="hideListInput()" type="button">
                        <i class='material-icons'> clear </i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="templates/list.js"></script>
</body>
</html>