<div class="no-back">
    <div class="pop-over-header js-pop-over-header">
        <span class="pop-over-header-title">List Actions</span>
        <a ng-click="closeThis()" href="#" class="pop-over-header-close-btn"><i class='material-icons'> clear </i></a></div>
    <div>
        <div class="pop-over-content js-pop-over-content u-fancy-scrollbar js-tab-parent" style="max-height: 549px;">
            <div>
                <div>
                    <ul class="pop-over-list">
                        <li><a ng-click="addCard($index)" href="#">Add Card…</a></li>
                    </ul>
                    <hr>
                    <ul class="pop-over-list">
                        <li><a ng-click="archiveList($index)" href="#">Archive This List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>